.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .example-margin {
  margin: 0 10px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.spinner-margin{
  display: flex;
  float: right;
}
.timer-margin{
  position: relative;
  top: 35px;
  float: right;
  left:70px;
}
.time-text{
 float: right;
  left: 50px;

}