<div class="bootstrap-wrapper">
    <div class="container">
        <mat-card class="text-center text" style="margin-top: 20px; background-color: cadetblue;">Select Topics</mat-card>
        <div class="row" style="margin-top: 20px; ">
            <div class="col-md-6 offset-md-3">
               <mat-card class="text-center" style="background-color: rgb(255, 187, 0);"> <a class="text-center" routerLink="/exam/java">Java</a></mat-card>
               <br>
               <mat-card class="text-center" style="background-color: cyan;"> <a routerLink="/exam/c">C</a></mat-card>
               <br>
               <mat-card class="text-center" style="background-color: rgba(255, 0, 170, 0.274);"> <a  routerLink="/exam/python">Python</a></mat-card>
               <br>
               <mat-card class="text-center" style="background-color: rgb(255, 0, 255);"> <a class="text-center" routerLink="/exam/angular">Angular</a></mat-card>
               <br>
               <mat-card class="text-center" style="background-color: rgba(0, 140, 255, 0.486);"> <a class="text-center" routerLink="/exam/django">Django</a></mat-card>
          </div>
        </div>
    </div>
</div>