<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center" *ngIf="sendOtp">
                    <h1 class="text-center">Recover Your Account</h1>
                    <form (ngSubmit)="forgotPw()">
                        <!-- Username -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>userName</mat-label>
                            <input [(ngModel)]="email"
                                name="email" required 
                            matInput placeholder="Enter your email">
                        </mat-form-field>
                        
                    <div class="container text-center">
                        <button  type="submit" class="col-md-3 text-center"  mat-raised-button color="primary">Submit</button>
                    </div>
                    </form>
                </div>
                <div class="container text-center" *ngIf="checkOtp">
                    <h1 class="text-center">Enter received Otp</h1>
                    <form (ngSubmit)="checEnteredOtp()">
                        <!-- Otp -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Otp</mat-label>
                            <input [(ngModel)]="userOtp"
                                name="otp" required 
                            matInput placeholder="Enter otp here">
                        </mat-form-field>
                        
                    <div class="container text-center">
                        <button  type="submit" class="col-md-3 text-center"  mat-raised-button color="primary">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>