<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">


            <h1 class="text-center">Please read the instructions carefully</h1>
            <mat-card class="text">
                <h4>
                    Please make sure that:
                    you have an active user account at UiB.</h4>
                <h4>Log on to webmail.uib.no, miside.uib.no or another UiB-service to see if your account is active.
                    you remember the password for your UiB-account.</h4>
                <h4>If you have forgotten your password, you can change it at sebra.uib.no.</h4>
                <h4>If you are using your personal laptop, please make sure that you have installed the necessary
                    software and programs before the examination day. It is important that your laptop fulfils the
                    system requirements of the programme.</h4>
                <h4>You have to choose a topic from the listed of topics and once you click on your choosen topics
                    then the wxam will be started. </h4>
                <h4>
                    You must bring your own power supply for use during the examination.
                    If failure to comply with these recommendations results in technical problems that cause a delay in
                    your examination, you cannot expect to be granted extended time.</h4>
                <h4>After completion of you exam at that time you can see you result and also you can see which are the
                    question are wrong and right depends upon your  answers that you given during examination.</h4>
                    <h4>You have given 10 question qnd you should attempt all the question positively.</h4>
                    <h4>If you are unable to submit your response then don't worry we give you auto submit feature.</h4>
                <h4>All the Best !!! Happy Learnings.</h4>
                <div class="container">
                    <button routerLink="/topic" mat-raised-button color="warn">Get Started</button>
                </div>

            </mat-card>

        </div>
    </div>
</div>