
<div class="bootstrap-container">
    <div class="container img col-md-9 offset-3 text-center" >

        <div class="container img" >
            <h1 style="margin-top: 50px;">Welcome to Online Exam Portal</h1>
            <br>
            <button routerLink="/admin" class="text-center max-width" mat-raised-button color="primary">ADMIN</button>
            <br>
            <br>
            <button routerLink="/login" class="text-center max-width" mat-raised-button color="accent">USER</button>

        </div>
    </div>

</div>
