<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Change Password</h1>
                <form (ngSubmit)="changePassword()">
                    <!-- Username -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>userName</mat-label>
                        <input [(ngModel)]="credentials.userName"
                            name="userName" required 
                        matInput placeholder="Enter Username">
                    </mat-form-field>
                    <!-- password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password"
                        name="password" [(ngModel)]="credentials.password" required 
                         matInput placeholder="Enter Password">
                         
                        <!--<mat-hint><a style="margin-top: 5px; color: blue;" routerLink="/signup">register</a></mat-hint> -->
                    </mat-form-field>
                   <!-- password -->
                   <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password"
                    name="password" [(ngModel)]="conformPassword" required 
                     matInput placeholder="Conform Your Password">
                     
                    <!--<mat-hint><a style="margin-top: 5px; color: blue;" routerLink="/signup">register</a></mat-hint> -->
                </mat-form-field>
                   
                    <div class="container text-center">
                        <button  type="submit" class="col-md-3 text-center"  mat-raised-button color="primary">Change</button>
                    </div>
                    
                </form>
                 
               
            </div>
        </div>
    </div>
</div>
